.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #131921;
  padding: 10px 20px;
  top: 0;
  z-index: 100;
  color: white;
  height: 60px;
}

.header__logo {
  width: 130px;
  height: 50px;
  object-fit: contain;
}

.header__logo:hover {
  border: 1px solid white;
  border-radius: 2px;
  cursor: pointer;
}

.header__left,
.header__right {
  display: flex;
  align-items: center;
}

.header__option {
  display: flex;
  flex-direction: column;
  margin-right: 10px;
  color: white;
}

.header__option:hover{
  border: 1px solid white;
  border-radius: 2px;
  cursor: pointer;
}

.header__option img{
  width: 90px;
  height: 50px;
}

.header__search {
  display: flex;
  flex: 1;
  align-items: center;
  position: relative;
}

.header__searchDropdown {
  padding: 5px;
  border: none;
  border-radius: 4px 0 0 4px;
  height: 40px;
  width: 50px;
  font-size: 11px;
  font-weight: bold;
  background-color: #E6E6E6;
  color: #555555;
  border: 1px solid #d8d4d4;

}

.header__searchDropdown:hover{
  background-color: #d8d4d4;
  color: black;
}

.header__searchInput {
  width: 550px;
  padding: 10px;
  border: none;
  height: 40px;
}

.header__searchIcon {
  background-color: #febd69;
  padding: 5px 12px;
  border-radius: 0 4px 4px 0;
  border: none;
  cursor: pointer;
  height: 40px;
  margin-right: 10px;
}

.header__searchIcon:hover{
  background-color: #f8ac44;
}

.header__searchIcon img {
  width: 20px;
  height: 20px;
}

.header__right {
  gap: 20px;
}

.header__flag {
  width: 20px;
  height: 25px;
  margin-right: 5px;
}

.header__languageDropdown {
  position: relative;
  cursor: pointer;
  z-index: 2;
}

.header__languageDropdown span {
  padding: 5px;
  border: none;
  border-radius: 4px;
  height: 40px;
  margin-right: none;
  background: transparent;
  color: white;
}

.header__languageDropdown img{
  width: 80px;
  height: 50px;
}

.header__languageDropdown img:hover{
  border: 1px solid white;
  border-radius: 2px;
}

.header__languageDropdownContent {
  display: none;
  position: absolute;
  background-color: white;
  color: black;
  width: 200px;
  top: 50px;
  right: 0;
  z-index: 1;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  transition: all 0.4s ease; /* Smooth dropdown opening */
}

.header__languageDropdownContent a {
  display: block;
  padding: 10px 0;
  color: black;
  text-decoration: none;
  font-size: 14px;
}

.header__languageDropdownContent a:hover {
  color: #febd69;
  text-decoration: underline; /* Underline language options on hover */
}

.header__languageHeading {
  padding-bottom: 10px;
}


.header__languageHeading span:hover{
color: #febd69;
}

.header__languageOption {
  margin: 10px 0;
}

.header__languageOption label {
  margin-left: 5px;
}

.header__languageDropdown:hover .header__languageDropdownContent {
  display: block;
}

.header__link {
  display: block;
  padding: 10px 0;
  color: black;
  text-decoration: none;
  font-size: 14px;
}

.header__link:hover {
  color: #febd69;
  text-decoration: underline;
}

.blueLink {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}

.header__cart {
  display: flex;
  align-items: center;
  color: white;
  font-size: 16px;
}

.header__cart img{
  width: 80px;
  height: 50px;
}

.header__accountDropdown {
  position: relative;
  z-index: 2;
}

.header__accountDropdown img{
  width: 130px;
  height: 45px;
}

.header__dropdownContent {
  display: none;
  position: absolute;
  background-color: white;
  color: black;
  width: 500px;
  top: 35px;
  right: 0;
  z-index: 1;
  padding: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  transition: all 0.3s ease; /* Smooth dropdown opening */
}

.header__accountDropdown:hover .header__dropdownContent {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header__dropdownContent button {
  border: none;
}

.header__dropdownContent button a {
  text-decoration: none;
  color: black;
  padding: 8px 80px;
  background-color: #f8cc04;
  cursor: pointer;
  text-align: center;
  font-size: 14px;
  margin-bottom: 10px auto;
  display: block;
  border-radius: 10px;
}

.header__dropdownContent button:hover a {
  text-decoration: underline;
}

.dropdown__container {
  display: flex;
  justify-content: space-between;
}

.dropdown__lists,
.dropdown__account {
  width: 240px;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.header__dropdownContent .dropdown__lists h4,
.header__dropdownContent .dropdown__account h4 {
  margin: 0 0 10px;
  font-size: 16px;
  font-weight: bold;
}

.header__dropdownContent .dropdown__lists ul,
.header__dropdownContent .dropdown__account ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.header__dropdownContent .dropdown__lists li,
.header__dropdownContent .dropdown__account li {
  margin: 5px 0;
}

.header__dropdownContent .dropdown__lists a,
.header__dropdownContent .dropdown__account a {
  text-decoration: none;
  color: black;
  font-size: 14px;
}

.header__dropdownContent .dropdown__lists a:hover,
.header__dropdownContent .dropdown__account a:hover {
  color: #febd69;
  text-decoration: underline;
}

.header__ordersIcon{
  width: 40px;  /* Adjust size as needed */
  height: 40px;
  cursor: pointer;
}

/* Popup styles */
.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup__content {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  width: 400px;
  position: relative;
}

.popup__close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}

.popup__input,
.popup__countrySelect {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.popup__signInButton,
.popup__applyButton,
.popup__doneButton {
  width: 100%;
  padding: 10px;
  background-color: #febd69;
  border: none;
  cursor: pointer;
  margin-top: 10px;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.popup__signInButton:hover,
.popup__applyButton:hover,
.popup__doneButton:hover {
  background-color: #e0a849;
}
